<!DOCTYPE html>
<html lang="RU">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mark_SW">
    <meta name="description" content="Тупые ники.">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Тупые ники</title>
    <link href="styles/main.css" rel="stylesheet">
</head>
<body>
    <h1>Тупые ники</h1>
    <p>Llflflfl ааа</p>
    <p class="kakashka">Строка для теста стилей.</p>
    <p>Ты авторизован как ss</p>
    
    <!--
    <% if (rrr) {
        for (let i=0; i<rrr.length; i++) { %>
            <p><%= rrr[i].nickname %></p>
        <% }
    } %>
    -->
    <script src="scripts/entry.js"></script>
</body>
    
</html>