<!DOCTYPE html>
<html lang="RU">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mark_SW">
    <meta name="description" content="Главная страница сайта.">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Защищённая страничка</title>
    <link href="styles/main.css" rel="stylesheet">
</head>
<body>
    <h1>Защищённая страничка</h1>
    <p>Ты попал на защищённую страничку. Никто со стороны сюда попасть не может - только избранные. Возрадуйся по этому поводу, ты, дерьмо ушастое.</p>
    <p>Но если ты ещё не научился радоваться таким вещам, то иди покакай. Дорога к унитазу: налево, налево и вниз.</p>
    <p class="kakashka">Строка для теста стилей.</p>
    <p>И вообще, ты тупой придурок, поэтому пошёл отсюда нафиг, пока не получил каблуком по тупой безмозглой физиономии.</p>
    <p>Да, и кстати, ты авторизован как <%= myKey %></p>
    
    <script src="scripts/entry.js"></script>
</body>
    
</html>